 <shopping-cart></shopping-cart>
  
 <div class="panel panel-default row">
        <div class="col-xs-3">
             <a (click)="selectCategory('Home')" class="btn btn-block btn-default btn-lg btn-primary" >
               Home
             </a>

             <a (click)="selectCategory(category)" *ngFor='#category of products | productCategories' class="btn btn-block btn-default btn-lg btn-primary" >
                {{ category }}
             </a>
        </div>
       
        <div class="col-xs-8">
           <div class="well" *ngFor='#product of filterdProducts'>
                <h3>
                    <strong>{{ product.name }}</strong>
                    <span class="pull-right label label-primary">
                        {{ product.price | currency:'USD':true:'1.2-2'}}
                    </span>
                </h3>
                <button (click)='addToCart(product)' class="btn btn-success pull-right">
                   Add to cart
                </button>  
                <span class="lead">{{ product.description }}</span>
                <starRating (notify)='onStarsClick($event)' [rating]=product.rating></starRating>
            </div>
        </div>
 </div>